body {
    margin: 0;
    font-family: Arial, sans-serif;
    height: 100vh;
    display: grid;
    grid-template-columns: 175px 1fr 325px; /* Left and right columns of 250px, center column takes remaining space */
    grid-template-rows: 1fr; /* Single row */
}

a {
    color: #8a2be2;
}

/* Hover state */
a:hover {
    color: #ff4500; /* Change color on hover */
    text-decoration: underline; /* Optionally underline on hover */
}

/* Visited link state */
a:visited {
    color: #8a2be2; /* Change color for visited links */
}

/* Active link state */
a:active {
    color: #ff6347; /* Change color when link is clicked */
}

.left-column {
    background-color: #909090;
    padding: 1rem;
    border-right: 1px solid #ddd; /* Optional: adds a dividing line */
    line-height: 1.8;
}

.center-column {
    background-color: #303030;
    color: #ffffff;
    padding: 2rem 1rem;
    line-height: 1.8;
}

.right-column {
    background-color: #909090;
    padding: 1rem;
    border-left: 1px solid #ddd; /* Optional: adds a dividing line */
}

#diagramCanvas {
    background-color: #f7eeca;
    height: 300px;
    width: 300px;
    margin: auto;
}
